{% extends "layout.html" %}
{%block content%}

<div class="container">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, eius doloribus! Nobis excepturi dolorem, nemo suscipit repellat ullam quisquam iusto?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, cum asperiores architecto est necessitatibus minima itaque enim pariatur in adipisci maxime labore veniam reiciendis nam molestias! Maxime beatae qui magni quasi quia ipsam veniam, aut non laborum tenetur nam ducimus similique officia consequatur fuga sapiente.</p>
</div>
{%endblock%}