{% extends "layout.html" %}
{%block content%}

<div class="container">
    <h1>Contact Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, eius doloribus! Nobis excepturi dolorem, nemo suscipit repellat ullam quisquam iusto?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi similique commodi velit inventore consequuntur quo rem assumenda maxime, pariatur excepturi, delectus aliquam eius voluptate possimus quas fugiat facere iure deleniti sint doloribus ullam ab optio cumque. Nobis nemo, minus in quaerat ratione quia temporibus inventore neque non, aut adipisci itaque.</p>
</div>
    
 {%endblock%}