{% extends "layout.html" %}
{%block content%}


<div class="container">
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque, eius doloribus! Nobis excepturi dolorem, nemo suscipit repellat ullam quisquam iusto?</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt repellat, illo minus nulla doloribus magni aliquam qui quod. Nemo unde quis nam deserunt sequi beatae ducimus quam. Similique mollitia voluptate libero, amet porro commodi quasi necessitatibus nulla totam sit? Corrupti.</p>
</div>
{%endblock%}